<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.service.dao.UserRoleRelationDOMapper">
  <resultMap id="BaseResultMap" type="com.example.service.model.UserRoleRelationDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
  </resultMap>

    <select id="listUserRoleRelationDOs" parameterType="com.example.service.model.UserRoleRelationDO" resultMap="BaseResultMap">
        select *
        from  db_user_role_relation
        where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="roleId != null">
            and role_id = #{roleId}
        </if>
    </select>



  <delete id="deleteByUser" parameterType="Long">
    delete from db_user_role_relation
    where user_id = #{user_id}
  </delete>

  <insert id="insertSelective" parameterType="com.example.service.model.UserRoleRelationDO">
    insert into db_user_role_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>


</mapper>